
body{
    margin: 0%;
    background-image: linear-gradient(to right,FloralWhite,DeepSkyBlue);
}

.links{
   
   list-style-type: none;
    margin: 0%;
    
    display:flex ;
    justify-content: center;
    background-color: #F0FFFF;
    box-shadow: 2px 2px #646463;
    
    
}

a{
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
    color: black;
}

a:hover{
   background-color:DeepSkyBlue ;
    font-size: 20px;
    
}


h1{
    text-align: center;
    text-shadow: black;
    font-size: 70px;
    font-family: Impact, fantasyApple Chancery, cursiveOptima, sans-serif;
    text-decoration: overline underline;
}



article{
    position: absolute;
    display: flex;
    
    
    
}


h3{
    font-size: 30px;
    padding-top: 200px;
    border: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

/*.listagem :hover{
    width: 70px;
    padding-right: 300px;
}*/

p{
    position: relative;
    top: 200px;
    left: 300px;
    margin: 2px 2px 2px 0;
    justify-content: end;
    font-size: 30px;
   
}

