
body{
    margin: 0%;
    background-image: linear-gradient(to right,FloralWhite,DeepSkyBlue);
}

.links{
   
   list-style-type: none;
    margin: 0%;
    padding: 0%;
    display:flex ;
    justify-content: center;
    background-color: #F0FFFF;
    box-shadow: 2px 2px #646463;
    
    
}

a{
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-right: 100px;
    padding-left: 100px;
    color: black;
}

a:hover{
    font-size: 20px;
    
}


h1{
    text-align: center;
    text-shadow: black;
    font-size: 70px;
    font-family: Impact, fantasyApple Chancery, cursiveOptima, sans-serif;
    text-decoration: overline underline;
}



article{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    
}

ul{
    border: inset grey;
    border-radius: 15%;
    padding: 110px;
    padding-left: 30px;
    font-size: 25px;
    
       
}

.listagem{
    background-image: url("ok.jpg");
    background-size: 90px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right;
}


p{
    font-size: 70px;
    margin-right: 500px;
    padding-left: 50px;
}



.listagem{
    background-image: url("ok.jpg");
    background-size: 90px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right;


}